{%extends "stats/layout_stats.html"%}
{%block content%}


<h1 class="text-center mb-4">Community Loyalty</h1>

<div class="row">
    <div class="col">
        <canvas id="community_loyalty_chart" style="width:100%;display:inline-block;height: 1200px;"></canvas>
    </div>

</div>


<script>
    document.title = 'Community Loyalty - TwitchItalia Insights';

    // get the data
    get_data('{{stat}}', '{{current_version[0]}}');

    function get_data(stat, version) {
        // make a request with ajax
        $.ajax({
            url: '/get_stat_data/' + stat + '/' + version,
            type: 'GET',
            success: function(result) {
                // check if the verion has been found
                if (result == 'not found') {
                    alert('Version not found');
                    return;
                }
                
                // create the charts
                create_chart(result);

            },
            error: function(error) {
                alert("error")
                console.log(error);
            }
            
        });
    }


    function create_chart(result) {
        // get the data
        xValues = Object.keys(result);

        // sort the data
        xValues.sort(function(a, b) {
            return result[a]["1"] - result[b]["1"];
        });

        data_1 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_1.push(result[xValues[i]]["1"]);
        }

        data_2_3 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_2_3.push(result[xValues[i]]["2-3"]);
        }

        data_4_5 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_4_5.push(result[xValues[i]]["4-5"]);
        }

        data_6_10 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_6_10.push(result[xValues[i]]["6-10"]);
        }

        data_11_15 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_11_15.push(result[xValues[i]]["11-15"]);
        }

        data_16_20 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_16_20.push(result[xValues[i]]["16-20"]);
        }

        data_21 = [];
        for (let i = 0; i < xValues.length; i++) {
            data_21.push(result[xValues[i]]["21+"]);
        }


        new Chart('community_loyalty_chart', {
            type: "bar",
            data: {
                labels: xValues,
                datasets: [{
                    label: '1',
                    data: data_1,
                    backgroundColor: "red",
                    borderWidth: 1
                },
                {
                    label: '2-3',
                    data: data_2_3,
                    backgroundColor: "green",
                    borderWidth: 1
                },
                {
                    label: '4-5',
                    data: data_4_5,
                    backgroundColor: "blue",
                    borderWidth: 1
                },
                {
                    label: '6-10',
                    data: data_6_10,
                    backgroundColor: "yellow",
                    borderWidth: 1
                },
                {
                    label: '11-15',
                    data: data_11_15,
                    backgroundColor: "purple",
                    borderWidth: 1
                },
                {
                    label: '16-20',
                    data: data_16_20,
                    backgroundColor: "brown",
                    borderWidth: 1
                },
                {
                    label: '21+',
                    data: data_21,
                    backgroundColor: "orange",
                    borderWidth: 1
                },
                ]
            },
            options: {
                indexAxis: 'y',
                scales: {
                    x: { 
                        stacked: true,
                        position: 'top',
                        max: 100,
                    }, 
                    y: { 
                        stacked: true,
                    } 
                } 
            } 
        });
    }

</script>

{%endblock%}
