{%extends "stats/layout_stats.html"%}
{%block content%}


<h1 class="text-center mb-4">Streams Start</h1>

<div class="row">
    <div class="col">
        <canvas id="streams_start_chart" style="width:100%;max-width:1000px;display: inline-block;"></canvas>
    </div>

</div>


<script>
    document.title = 'Streams Start - TwitchItalia Insights';

    // get the data
    get_data('{{stat}}', '{{current_version[0]}}');

    function get_data(stat, version) {
        // make a request with ajax
        $.ajax({
            url: '/get_stat_data/' + stat + '/' + version,
            type: 'GET',
            success: function(result) {
                // check if the verion has been found
                if (result == 'not found') {
                    alert('Version not found');
                    return;
                }
                
                // create the charts
                create_chart(result);

            },
            error: function(error) {
                alert("error")
                console.log(error);
            }
            
        });
    }

    function create_chart(result) {
        // get the data
        xValues = Object.keys(result);
        yValues = Object.values(result);

        new Chart('streams_start_chart', {
            type: "line",
            data: {
                labels: xValues,

                datasets: [{
                        data: yValues,
                        borderColor: "blue",
                        fill: false,
                    },
                ]
            },
            options: {
                elements: {
                    point:{
                        radius: 0
                    }
                },
                plugins:{
                    legend: {
                        display: false
                    }
                },
                scales: {
                    y: {
                        ticks: {
                            // Include a dollar sign in the ticks
                            callback: function(value, index, ticks) {
                                return value + "%";
                            }
                        }
                    }
                }
            }
        });
    }

</script>

{%endblock%}
