{%extends "layout.html"%}
{%block content%}

<!-- set to active the link in the navbar -->
<script>
    document.getElementById("header-special-analyses").classList.add("active");
    document.title = "Special Analyses - TwitchItalia Insights";
</script>

<div class="page-section">

    <div class="container">
        <h1>Coming soon, here you can find all special analyses made ad hoc for special events</h1>
        
        <h1>some examples: sdrumx sban, dariomoccia marathon, ...</h1>
    </div>


</div>



{%endblock%}
