{%extends "layout.html"%}
{%block content%}

<!-- set to active the link in the navbar -->
<script>
    document.getElementById("header-stats").classList.add("active");
    document.title = "Stats - TwitchItalia Insights";
</script>

<section class="page-section bg-primary">
    <div class="container text-white mt-4">
        <h1 class="text-center">Downloaded Data</h1>

        <div>
            <p class="lead">Live information: channel name, number of viewers, and category for all Italian channels with more than 5 viewers. This data is downloaded once a minute.</p>

            <p class="lead">Chats: all messages that are sent in the chats of the first 200 Italian live (sorted by number of viewers) are saved. For each message the username, date and time, whether it is sub or mod, and the message is saved.</p>

            <p class="lead">Events: the events of the first 200 Italian live chats. Events can be: sub, gifted sub and raid.</p>

            <p class="lead">Emote: The emotes in use for each channel are saved. Emotes are taken from Twitch, 7tv, bttv and ffz.</p>

            <p class="lead fw-bold">A total of nearly 200 million messages from more than 1.3 million unique users have been collected since December 1, 2023</p>
        </div>

    </div>
</section>

<section class="page-section">
    <div class="container">
        <h1 class="text-center">All Analyses</h1>

        <div class="row lead">
            <div class="col">
                <ul>
                    {% for stat in stats %}
                        <li class="mb-2"><a href="/stats/{{stat}}">{{stats[stat][0]}}</a> {{stats[stat][1]}}</li>
                    {% endfor %}

                </ul>
            </div>
        </div>

    </div>

</section>



{%endblock%}
